/* Global style */
.base-btn1 {
    font-size: 16px;
    font-weight: 600;
    padding: 10px 30px;
    display: inline-block;
    border-radius: 4px;
    cursor: pointer;
    transition: $transition;
    color: $heading-color;
    background-color: #eeeeee;
    border: 0px;
    @include shadow-up;
    &:hover {
        @include shadow-down;
    }
    i{
        font-size: 14px;
        margin-left: 4px;
    }
}

.mybtn3 {
    padding: 10px 20px;
    background: #fff;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    display: inline-block;
    border: 1px solid transparent;
    position: relative;
    text-transform: uppercase;
    z-index: 3;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.4s;
    cursor: pointer;
    outline: none !important;
    overflow: hidden;
  }
  
  .mybtn3 span {
    position: relative;
    font-weight: 500;
    z-index: 6;
    transition-delay: 0s;
  }
  
  .mybtn3:before,
  .mybtn3:after {
    content: "";
    width: 0;
    height: 100%;
    background: #fff;
    position: absolute;
    left: 0;
    top: 0;
    transition: width 0.4s;
    z-index: 1;
    opacity: 0.4;
  }
  
  .mybtn3:after {
    transition-delay: 0s;
    background: #fff;
    opacity: 1;
  }
  
  .mybtn3:hover:before,
  .mybtn3:hover:after {
    width: 100%;
  }
  
  .mybtn3:hover:after {
    transition-delay: 0.2s;
  }
  
  .mybtn3:hover span {
    transition-delay: 0.2s;
  }
  
  .mybtn-bg {
    background: $base-color;
    border-color: $base-color;
    color: #fff;
  }
  
  .mybtn-bg span {
    color: #fff;
  }
  
  .mybtn-bg:hover span {
    color: $base-color;
  }
  
  .mybtn-light {
    background: #fff;
  }
  
  .mybtn-light:before,
  .mybtn-light:after {
    background: $base-color;
  }
  
  .mybtn-light:hover span {
    color: #fff !important;
  }
  
  .mybtn-light span {
    color: $base-color;
  }
  
  .mybtn-bord {
    background: transparent;
    border: 1px solid $base-color;
  }
  
  .mybtn-bord:before,
  .mybtn-bord:after {
    background: $base-color;
  }
  
  .mybtn-bord:hover {
    border-color: $base-color;
  }
  
  .mybtn-bord:hover span {
    color: #fff;
  }

.table-striped tbody tr:nth-of-type(odd){
    background: $bg-color2!important;
}

.section-heading {
  text-align: center;
  margin-bottom: 60px;
  justify-content: space-between;
  .title {
      font-size: 36px;
      line-height: 46px;
      font-weight: 700;
      color: $heading-color;
      display: inline-block;
      position: relative;
      text-transform: uppercase;
      margin-bottom: 0px;
      i{
          font-size: 24px;
          margin-right: 12px;
          display: none;
      }
      
      .color{
          color: $base-color;
      }
      .bg-text{
          position: absolute;
          text-transform: uppercase;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          font-size: 85px;
          z-index: -1;
          opacity: .07;
      }
  }
  .right-area{
      align-self: center;
  }
  .link{
      padding: 4px 15px;
      font-size: 14px;
      line-height: 24px;
      font-weight: 600;
      &:hover{
          text-decoration: underline;
      }
  }
}
.progress {
    background-color: #ddd;
}
.email-success{
    width: 100%;
    margin-bottom: 15px;
}
#controlBar_bgndVideo{
    display: none!important;
}
.mbYTP_wrapper iframe{
    transform: scale(1.2);
}
.input-field {
    width: 100%;
    height: 50px;
    padding: 0 20px;
    font-size: 14px;
    border-radius: 5px;
    margin-bottom: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    &.textarea {
        min-height: 137px;
        padding: 15px 20px;
        resize: none;
        border-radius: 5px;
    }
    &.error {
        border: 1px solid red;
        @include placeholder-color($base-color);
        &:focus {
            border-color: $base-color;
        }
    }
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar-toggler {
    border: none!important;
    margin: 0px;
    padding: 0px;
}

.navbar-toggler:focus{
    outline: 0px;
}


/* Preloader Css */

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 9999999;
    transition: $transition;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    &.hide {
        opacity: 0;
        display: none;
    }
  }
  
  .loader {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 75px;
    display: inline-block;
    vertical-align: middle;
  }
  
  .loader-1 .loader-outter {
    position: absolute;
    border: 4px solid #555;
    border-left-color: transparent;
    border-bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    -webkit-animation: loader-1-outter 1s cubic-bezier(.42, .61, .58, .41) infinite;
    animation: loader-1-outter 1s cubic-bezier(.42, .61, .58, .41) infinite;
  }
  
  .loader-1 .loader-inner {
    position: absolute;
    border: 4px solid #555;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    left: calc(50% - 20px);
    top: calc(50% - 20px);
    border-right: 0;
    border-top-color: transparent;
    -webkit-animation: loader-1-inner 1s cubic-bezier(.42, .61, .58, .41) infinite;
    animation: loader-1-inner 1s cubic-bezier(.42, .61, .58, .41) infinite;
  }
  
  @-webkit-keyframes loader-1-outter {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
  
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
  }
  
  @keyframes loader-1-outter {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
  
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
  }
  
  @-webkit-keyframes loader-1-inner {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
  
    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
  }
  
  @keyframes loader-1-inner {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
  }



  .mix{
    display: none;
}


/* bottomtotop Css */
.bottomtotop i {
    width: 45px;
    height: 45px;
    line-height: 45px;
    position: fixed;
    font-size: 16px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    background: $base-color;
    cursor: pointer;
    transform: rotate(-90deg);
    bottom: 30px;
    right: 30px;
    z-index: 999;
    box-shadow: $box-shadow;
}

/* Breadcrumb Area Start */
.breadcrumb-area {
    padding: 177px 0px 117px;
    background: $bg-color1;
    position: relative;
    overflow: hidden;
    .title {
        font-size: 40px;
        line-height: 50px;
        font-weight: 500;
        margin-bottom: 11px;
        color: #fff;

        &.extra-padding {
            margin-bottom: 24px;
        }
    }

    .breadcrumb-list {
        li {
            display: inline-block;

            span {
                margin: 0px 7px;
                color: #fff;
            }

            a {
                font-size: 16px;
                -webkit-transition: all 0.3s ease-in;
                -o-transition: all 0.3s ease-in;
                transition: all 0.3s ease-in;
                color: #fff;

                &:hover {
                    color: #f1f1f1;
                }

                &.active {
                    color: #f1f1f1;
                }
            }
        }
    }
}

/* Popup Video CSS */
.video-play-btn {
    display: inline-block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 20px;
    background: $bg-color1;
    border-radius: 50%;
    position: relative;
    z-index: 1;
    color: #fff;
    &:before {
        content: "";
        position: absolute;
        z-index: 0;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        display: block;
        width: 70px;
        height: 70px;
        background: $bg-color1;
        border-radius: 50%;
        animation: pulse-border 1500ms ease-out infinite;
        z-index: -1;
    }
    i{
        color: #fff;
    }
}

.main-content {
    padding-left: 250px;
    height: auto;
    position: relative;
}

.mb-50 {
    margin-bottom: 50px;
}


/* Global Css EndS */


